# Programming 101: Intro to Python

##### Based on the [official Python tutorial](https://docs.python.org/3/tutorial)

### Numbers

In [1]:
2 + 2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [4]:
8 / 5  # division always returns a floating point number

1.6

In [5]:
17 / 3  # classic division returns a float

5.666666666666667

In [6]:
17 // 3  # floor division discards the fractional part

5

In [7]:
17 % 3  # the % operator returns the remainder of the division

2

In [8]:
5 * 3 + 2  # result * divisor + remainder

17

In [9]:
5 ** 2  # 5 squared

25

In [10]:
2 ** 7  # 2 to the power of 7

128

In [11]:
width = 20
height = 5 * 9
width * height

900

### Strings

In [12]:
'spam eggs'  # single quotes

'spam eggs'

In [13]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [14]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [15]:
'"Yes," they said.'

'"Yes," they said.'

In [16]:
"\"Yes,\" they said."

'"Yes," they said.'

In [17]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [18]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [19]:
s = 'First line.\nSecond line.'  # \n means newline
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [22]:
word = 'Python'

In [23]:
word[0]  # character in position 0

'P'

In [24]:
word[5]  # character in position 5

'n'

In [25]:
word[-1]  # last character

'n'

In [26]:
word[-2]  # second-last character

'o'

In [27]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [28]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [29]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [30]:
word[-2:]  # characters from the second-last (included) to the end

'on'

### Lists

In [32]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [33]:
squares[0]  # indexing returns the item

1

In [34]:
squares[-1]

25

In [35]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [38]:
squares += [36, 49, 64, 81, 101]
squares

In [39]:
squares[-1] = 100
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
squares.append(121)
squares.append(144)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [41]:
len(squares)

11

### if statements

In [42]:
x = int(input("Please enter an integer: "))

Please enter an integer: 42

In [43]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

### for loops

In [44]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [45]:
for i in range(5):
    print(i)

0
1
2
3
4

In [47]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [48]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
        else:
            # loop fell through without finding a factor
            print(n, 'is a prime number')

3 is a prime number
4 equals 2 * 2
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4
9 is a prime number
9 equals 3 * 3

### Functions

In [51]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b

In [52]:
# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

### List functions

In [53]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [54]:
fruits.count('apple')

2

In [55]:
fruits.index('banana')

3

In [57]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [58]:
fruits.pop()

'pear'

In [59]:
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange']

### List comprehensions

In [60]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [64]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [65]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### Tuples

In [67]:
t = (1, 2)
t

(1, 2)

In [68]:
t = ('a', 'b', 'c')
t

('a', 'b', 'c')

In [70]:
t = ('a', 'b', 'c', 1, 2, 3)
t

('a', 'b', 'c', 1, 2, 3)

In [71]:
t[0]

'a'

### Sets

In [72]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'banana', 'orange', 'apple', 'pear'}

In [73]:
'orange' in basket

True

In [74]:
'crabgrass' in basket

False

In [75]:
a = set('abracadabra')
b = set('alacazam')

In [76]:
a

{'a', 'b', 'c', 'd', 'r'}

In [77]:
b

{'a', 'c', 'l', 'm', 'z'}

In [78]:
a - b # letters in a but not in b

{'b', 'd', 'r'}

In [79]:
a | b # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [80]:
a & b # letters in both a and b

{'a', 'c'}

In [81]:
a ^ b # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

### Dictionaries

In [83]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [84]:
tel['jack']

4098

In [85]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

### Looping techniques

In [86]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [87]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

### Input/Output

In [88]:
with open('hello.txt', 'r') as f:
    print(f.read())

Hello World!

In [89]:
with open('out.txt', 'w') as f:
    f.write('This is a test\n')